{% extends 'base.html' %}
{% block content %}
    <div class="columns">
        <div class="column col-6 col-mx-auto">
            <div class="panel">
                <div class="panel-header">
                    <h3>Login</h3>
                </div>
                <form method="post">
                    <div class="panel-body">
                        Don't have an account yet? <a href="{% url 'register' %}">Register</a>
                        {% csrf_token %}
                        <label for="id_username" class="form-label">Username:</label>
                        <input type='text' id='id_username' name='username' class="form-input">
                        <label for="id_password" class="form-label">Password:</label>
                        <input type='password' id='id_password' name='password' class="form-input">
                        <br>
                        <p><a href="{% url "password_reset" %}">Forgot your password?</a></p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}