.avatar-xxl {
  font-size: 48px;
  height: 96px;
  width: 96px;
}


.search {
    position: relative;
}
.search-dropdown-menu {
    position: absolute;
    display: block;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.search-recommendation {

}