{% extends 'base.html' %}

{% block content %}

    <div class="panel">
  <div class="panel-header",>
      <figure class="avatar avatar-xl", data-initial= {{ profile.initials }}, style= "background-color: #5755d9;">
        <img src={{ profile.pic_url}}, alt="..."> <br>
      </figure>
    <div class="panel-title">

        {{ profile.first_name }} {{ profile.last_name }}</div>
  </div>
  <div class="panel-nav">
      <ul class="tab tab-block">
          <li class="tab-item active">
                <a href="#">About</a>
          </li>
          </li>
          <li class="tab-item">
            <a href="#" class="inactive">Clubs</a>
          </li>
          <li class="tab-item">
            <a href="#" class="inactive">Postions</a>
          </li>

      </ul>
    <!-- navigation components: tabs, breadcrumbs or pagination -->
  </div>
  <div class="panel-body">
      Class Year: {{ profile.class_year }} <br>
      Email Address: {{ profile.email }}
  </div>
  <div class="panel-footer">
    <!-- buttons or inputs -->
  </div>
</div>
{% endblock %}
