{% extends 'Profiles/Profile.html' %}
{% block profile-nav %}
  <div class="panel-nav">
      <ul class="tab tab-block">
          <li class="tab-item">
                <a href="{% url 'profile_view_tab' profile_id=profile.id tab='about' %}" class="inactive">About</a>
          </li>
          </li>
          <li class="badge", data-badge={{ profile.num_orgs }}>
            <a href="{% url 'profile_view_tab' profile_id=profile.id tab='clubs' %}" class="inactive">Organizations</a>
          </li>
          <li class="tab-item">
            <a href="{% url 'profile_view_tab' profile_id=profile.id tab='positions' %}" class="active">Positions</a>
          </li>

      </ul>
    <!-- navigation components: tabs, breadcrumbs or pagination -->
  </div>
      {% endblock %}

    {% block profile-content %}


    {% endblock %} 