{% extends 'base.html' %}

{% block content %}
<div class="columns">
<div class="column col-6">
    <div class="panel">
        <div class="panel-header",>
            <div class="panel-title">
                <div class="float-right">f
                    {% if is_member %}
                        <a class="btn" href="{% url 'organization-leave' tab=tab organization_id=organization.id %}"><i class="fas fa-minus"></i></a>
                    {% else %}
                        <a class="btn" href="{% url 'organization-join' tab=tab organization_id=organization.id %}"><i class="fas fa-plus"></i></a>
                    {% endif %}
                </div>
                <h3>{{ organization.name }}</h3>

            </div>
        </div>
        <div class="panel-nav">
          {% block org-nav %}

          {% endblock %}
        </div>
          <div class="panel-body">
              {% block org-content %}

              {% endblock %}
          </div>
          <div class="panel-footer">
            <!-- buttons or inputs -->
          </div>
    </div>
</div>
    <div class="column col-6">
        Recommended Stuff
    </div>
</div>
{% endblock %}
